WeatherForecastN8N/weather-mcp-direct-workflow.json
{
  "name": "Weather Forecast via MCP Server",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "chat-trigger",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "weather-mcp-chat"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful weather assistant with access to real-time weather data through MCP tools. When users ask about weather, use the available tools to provide accurate, detailed information. Always include temperatures in both Celsius and Fahrenheit."
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [460, 300],
      "notesInFlow": true,
      "notes": "AI Agent using MCP Server tools"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.7,
          "baseUrl": "http://localhost:11434"
        }
      },
      "id": "ollama-model",
      "name": "Ollama Llama 3.2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [460, 480],
      "notesInFlow": true,
      "notes": "Ollama Llama 3.2 model"
    },
    {
      "parameters": {
        "name": "get_weather_forecast",
        "description": "Get weather forecast for a specified number of days (1-30). Returns temperature, humidity, wind, precipitation, and pressure data.",
        "workflowId": "={{ $workflow.id }}",
        "fields": {
          "values": [
            {
              "name": "days",
              "type": "number",
              "description": "Number of days to forecast (default: 5)"
            }
          ]
        }
      },
      "id": "tool-forecast",
      "name": "MCP: Weather Forecast",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [680, 100],
      "notesInFlow": true,
      "notes": "Calls MCP Server"
    },
    {
      "parameters": {
        "name": "get_current_weather",
        "description": "Get current weather conditions for a city. Returns current temperature, conditions, humidity, and wind.",
        "workflowId": "={{ $workflow.id }}",
        "fields": {
          "values": [
            {
              "name": "city",
              "type": "string",
              "description": "City name (optional)"
            }
          ]
        }
      },
      "id": "tool-current",
      "name": "MCP: Current Weather",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [680, 200],
      "notesInFlow": true,
      "notes": "Calls MCP Server"
    },
    {
      "parameters": {
        "name": "get_city_forecast",
        "description": "Get weather forecast for a specific city. Requires city name.",
        "workflowId": "={{ $workflow.id }}",
        "fields": {
          "values": [
            {
              "name": "city",
              "type": "string",
              "description": "City name (required)"
            },
            {
              "name": "days",
              "type": "number",
              "description": "Number of days (default: 5)"
            }
          ]
        }
      },
      "id": "tool-city",
      "name": "MCP: City Forecast",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [680, 300],
      "notesInFlow": true,
      "notes": "Calls MCP Server"
    },
    {
      "parameters": {
        "name": "get_weather_alerts",
        "description": "Get active weather alerts and warnings. Returns alert type, severity, and time periods.",
        "workflowId": "={{ $workflow.id }}",
        "fields": {
          "values": [
            {
              "name": "city",
              "type": "string",
              "description": "City name (optional)"
            }
          ]
        }
      },
      "id": "tool-alerts",
      "name": "MCP: Weather Alerts",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [680, 400],
      "notesInFlow": true,
      "notes": "Calls MCP Server"
    },
    {
      "parameters": {
        "name": "get_weather_statistics",
        "description": "Get weather statistics over a period. Returns averages, extremes, and totals.",
        "workflowId": "={{ $workflow.id }}",
        "fields": {
          "values": [
            {
              "name": "days",
              "type": "number",
              "description": "Number of days to analyze (default: 7)"
            }
          ]
        }
      },
      "id": "tool-stats",
      "name": "MCP: Weather Statistics",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [680, 500],
      "notesInFlow": true,
      "notes": "Calls MCP Server"
    },
    {
      "parameters": {
        "authentication": "none",
        "method": "POST",
        "url": "http://localhost:9000/mcp",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "method",
              "value": "tools/call"
            },
            {
              "name": "params",
              "value": "={{ { name: $json.toolName, arguments: $json.arguments } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "mcp-bridge",
      "name": "MCP Bridge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "notesInFlow": true,
      "notes": "Bridges n8n to MCP Server via HTTP"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Llama 3.2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP: Weather Forecast": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP: Current Weather": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP: City Forecast": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP: Weather Alerts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP: Weather Statistics": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-29T00:00:00.000Z",
  "versionId": "1"
}
